name = "Сергей"
print("Привет меня зовут " + name)
age = "99"
print("Мне полных лет " + age)
age = "102"
print("Мне полных лет " + age)
x = input("Enter your name:")
print("Привет меня зовут " + x )
x = input('Enter your first_name:')
x2 = input('Enter your last_name:')
print('Меня зовут ' + x,x2 )
def greet(name):
	print("Привет," + name)

greet("Мир!")
def print_num(num):
    print(num, end='')


print_num(8)
print_num(8)
print_num(0)
print_num(0)
print_num(5)
print_num(5)
print_num(5)
print_num(3)
print_num(5)
print_num(3)
print_num(5)
def print_letter(letter):
    print(letter, end='')


print_letter('8')
print_letter('8')
print_letter('0')
print_letter('0')
print_letter('5')
print_letter('5')
print_letter('3')
print_letter('5')
print_letter('3')
print_letter('5')